<ion-content>
  <div class="container ion-padding text-center">
    <ion-header>
      <ion-toolbar class="ion-text-center">
        <ion-title class="text-white page-title p-0"> Profile </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="mx-auto text-center">
            <ion-img
              src="../../../../../assets/avatar.png"
              class="mx-auto"
            ></ion-img>
            <ion-title color="light" class="ion-margin-top user-name"
              >Andre Reid</ion-title
            >
            <ion-row class="mt-2">
              <ion-col class="text-center">
                <ion-label color="light">335</ion-label>
                <ion-text color="primary" class="mt-2">Posts</ion-text>
              </ion-col>
              <ion-col class="text-center">
                <ion-label color="light">1,9 K</ion-label>
                <ion-text color="primary" class="mt-2">Followers</ion-text>
              </ion-col>
              <ion-col class="text-center">
                <ion-label color="light">900</ion-label>
                <ion-text color="primary" class="mt-2">Following</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <app-post
      [postImage]="'../../../../../assets/post3.png'"
      [postContent]="'Lorelei And Telperion Of Valinor'"
    ></app-post>
    <app-post
      [postImage]="'../../../../../assets/post1.png'"
      [postContent]="'Let Me Live My Love'"
    ></app-post>
    <app-post
      [postImage]="'../../../../../assets/post2.png'"
      [postContent]="'Một giấc mơ rất thơ'"
    ></app-post>
  </div>
</ion-content>
