ion-slide {
    max-width: 200px;
  }
  
  .slide-title {
    font-size: 18px;
    font-weight: 500;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .title {
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
  }
  
  .singer {
    font-size: 14px;
    font-weight: 300;
    color: rgb(168, 168, 168);
  }